<div class="page-header">
  Identity
</div>


<div style="font-style: italic; padding: 20px; margin:50px; background-color:rgb(245, 245, 245); border-radius: 50px;">
  <div style="display:flex;flex-direction: row; justify-content: center; ">
    <img src="assets/orchid.jpg" style="margin: 20px; width:100%; max-width: 400px; border-radius: 50px;">
  </div>
  The flower is made of non-flower elements. We can describe the flower as being full of everything. There is nothing
  that is not present in the flower. We see sunshine, we see the rain, we see clouds, we see the earth, and we also see
  time and space in the flower. A
  flower, like everything else, is made entirely of non-flower
  elements. The whole cosmos has come together in order
  to help the flower manifest herself, The flower is full of everything except one thing: a separate self, a separate
  identity. 
  The flower cannot be by herself alone. The flower has to inter-be with the sunshine, the cloud and everything in the
  cosmos. If we understand being in terms of inter-being, then we are much closer to the truth. Inter-being is not being
  and it is not non-being. Inter-being means being empty of a separate identity, empty of a separate self.<br><br>
  <b style="margin-left: 30px;">Thích Nhất Hạnh</b><br><br>
</div>


<div class="section-header">
  What is an identity?
</div>

<div>
  We use the concept of an identity to distinguish ourselves as individuals within a group. Our identity is composed of
  a unique set of pieces of information, for example: name, date of birth, location of birth, etc.
  This information alone almost nearly uniquely distinguishes every person in the world. But this is only information
  about us as individuals.<br><br>
  From the sociological perspective, our identity is composed of our relationships to other individuals.
  A group of people who know one another could be described as a social network.
  <br>
  <br>
  This could perhaps be visualized as something not so different from the ball-and-stick model that is used
  in chemistry.
  In chemistry, perhaps any one hydrogen atom is virtually identical to any other hydrogen atom. But with respect to
  some kind
  of molecule as an entity, for example
  <span>
    C<span class="subtext">12</span>H<span class="subtext">17</span>N<span class="subtext">2</span>O<span
      class="subtext">4</span>P
  </span>,
  there might be 17 such individual hydrogen atoms, but their individuality is moot. What is of importance is not just
  the atoms themselves, but the arrangement of such atoms, in order to create the molecule.
  In a similar way, in the entity of the social network, a person's identity is not exclusively their individuality (the
  information which is unique to them as individuals), rather, it is the arrangement of the relationships which
  distinguishes each member with what we can refer to as their identity.
  <br>
  <br>
  In the biological-sociological world, this business of knowing the identity of other people happens automatically
  without effort. Biology has equipped us with a brain that is designed to efficiently process identity information
  about other people.
  Facial recognition, voice recognition, and a variety of other subtle and obvious sensory inputs are quickly processed
  to<span style="background-color:rgba(0, 195, 255, 0.2); border-radius: 5px;"> authenticate </span>the person that we
  are meeting; that is to say that our brains take the sensory information about a person and matches it to the existing
  conscious and subconscious knowledge that we have about a person, thereby identifying them. This biological
  functionality is generally robust and reliable, and is an important part of the foundation upon which ODIN is based.

</div>

<br><br>

<div class="section-header">
  An accounting of identities as a single congruous network entity
</div>
<div>
  We can therefore create a system that takes into account this kind of sociological relationship information to use as
  knowledge of identities of the users. The input of this data becomes the base dataset for network identity
  authentication.
  This input of data into the network is a <a href="https://en.wikipedia.org/wiki/Crowdsourcing"
    target="_blank">crowd-sourced</a> operation.

  The software assists the users in having them input as much social relationship
  information as they have knowledge of. In essence, the users enter in what is essentially address-book contact
  information about all of the people that they know in real life. This contact list, created by the user, acts as the
  functional contact list for the user. As more users join the network, mutually known
  information becomes repeatedly corroborated. After some reasonable threshold, the information becomes considered reliably accurate.<br>
  <br>
  This data is stored on the nodes and accessed by the software on the nodes.


  <!-- When users input information about people who are mutually known by one or more of their existing contacts, then the
  information becomes corroborated. Using this kind of system, we can build a model of information which can be used as
  a directory of all individual people, with acute knowledge of their social relationships.
  <br>
  A model that the system uses to securely know who is who -->
</div>





<div class="buffer-bottom"></div>

<!--
  If there existed a system that contained up-to-date and reliably accurate identification information for every unique
  individual human person in the world, what could be done with such a system?
  <br>
  In this system, each person in the world has access to a single user account in this database and can contribute and
  receive information from it, and have users have a high degree of control over their information<br>
  In this system, information is sufficiently secured and anonymized, but query-able through a appropriate channels.<br>
  <br>
  Imagine you could conduct a poll, vote, survey, referendum, against every user on the planet, and within less than 24
  hours you could have potentially billions of responses on a particular question that is relevant to these billions of
  people.
  Imagine you could query the medical data of every person on the planet for particular properties.

  Imagine you are a department of a university and you want to conduct some research on a population, and through the
  appropriate channels, make a query to this system, perhaps open to as many as billions of people or even the entire
  population, but you only really need a few thousand responses.
  Within 24 hours, you could put out your research form to these participants and receive thousands of responses, each
  associated with accurate but anonymous demographic data.

  With such a system, the world could very quickly learn valuable insights on our population that are beneficial to us.
  But also, insights will be learned that can be used for harm.
</div>

<br>
<b>Academic Research</b><br>

<b>Emergency Alert System</b><br>

<b>Epidemiological Data</b><br>
If there were simply a kind of a symptom reporting system that could be attached to ODIN, it could be used to feed
epidemiological databases.
Such data can be used to track diseases worldwide and help health agencies conduct research and keep account of ongoing
diseases.



<br>
<b>Human Trafficking</b><br>
If we had an accounting system that was openly available for everyone to use, we could use it to undermine and
eventually root out human trafficking. How?
Accounts will have various statuses that can be associated with them.
One such status could be: human being held captive against their will by an unauthorized person or group, related to
human trafficking.
(other statuses could be: Normal, active account. Deceased person. Mentally handicapped person in the custody of
somebody else. Otherwise impaired (coma) and cannot reach their ODIN account. Child under a certain age under the
guardianship of parents (for example a newborn, who couldn't possibly use ODIN themselves))
Eventually, if the system accounted for essentially every person on the planet, it would be easy to identify (and
therefore liberate) a person who is being trafficked.

<br>

<br><br><br>
<b>Intent to harm</b><br>
The intent to harm will always be present. Where harm means: in some way shape or form, attempt to cause pain, attempt
to cause frustration, attempt to cause chaos and disorder, attempt to otherwise be disruptive to one or more other
people, by one or more people.
Imagine such a system existed.
How could such a system be used for harm?

Imagine if you were a government or dictator or other powerful entity that wanted to harm or kill all people of a
certain identifiable type. <br>
Some examples in history might include:
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Xinjiang_re-education_camps" target="_blank">Uyghur people</a></li>
  <li><a href="https://en.wikipedia.org/wiki/The_Holocaust" target="_blank">Jewish people</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Slavery_in_the_United_States" target="_blank">African people</a></li>
</ul>

What if those who conducted such harm had access and authority over this system of identities, containing the
information on every person in the world.
Using such a system, they could systematically support certain groups of people and systematically hurt other groups of
people, based on their agenda of persecution.
<br><br>
And so, in designing such a system for the purpose of societal utility, we must ensure that such a system be prevented
from falling into the hands of those who wish to cause harm.
For this reason, we rely on the properties of decentralized authority, distributed processing power, and open-source
software, and promotion and reinforcement of the positive values of honesty and truthfulness and the active vigilance
against dishonesty and fradulence.

-->