<div style="width:100%;">
    <b>Current Situation</b><br>
    There is demand for communication and social networking services on the internet.
    This is evidenced by the fact that Facebook, the largest social network in the world, currently has over 2.2
    billion monthly active users.
    <br><br>
    Under the existing model, most of the major services we use are owned by for-profit companies,
    for example Facebook, Inc.
    Because of this, the primary purpose for the existence of these services is first and foremost to generate profit
    in
    order to maximize value for the shareholders that own the company. The social utility that they provide to the
    world is therefore second priority at best. As a consequence of this, these existing services leave us vulnerable
    to surveillance, propaganda, and censorship.
    <br><br><br>
    <b>Surveillance</b><br>
    Under the existing model, privacy is largely non-existent. User data is aggressively harvested and sold to the highest
    bidder. We are livestock that produce data to be bought and sold at market value between companies.
    <br><br>
    Because of information which was revealed to the world by Edward Snowden, we are now aware that
    Facebook (among others) is effectively a surveillance machine for the United States government. It would be naive
    to surmise that
    this type of data-sharing relationship between a national government and a technology company exclusively exists
    in the United States.
    <br><br><br>
    <b>Propaganda and content manipulation</b><br>
    Because of the fact it is free and easy to sign up for an account on most existing social media networks, it is
    therefore free and relatively easy for a well-funded branch of a national military to create thousands if not
    millions of fake user
    accounts.
    There are vast armies of fake social network accounts, disguised as real people.
    With control of the puppetstrings of this conjured army of digital information soldiers, hostile foreign
    governments pollute these platforms with a toxic sludge of misinformation, and
    simultaneously engage in sophisticated manipulation of the conversation.
    It is already public knowledge that at least a handful of nations are behaving in this manner, on platforms not
    limited to Facebook, Twitter, and Reddit.
    <br><br>
    <a href="https://stratcomcoe.org/how-social-media-companies-are-failing-combat-inauthentic-behaviour-online">
        “Social media manipulation is the new frontier for antagonists seeking to influence elections, polarise public
        opinion, and side-track legitimate political discussions” - NATO Strategic Communication Centre of Excellence
    </a>
    <br><br><br>
    <b>Censorship</b><br>
    Simply due to the fact that these services are administered in a centralized way, the companies possess
    full authority to censor information on their platforms at their discretion. There is no fairness and there is no
    due
    process, there is
    simply the centralized authority of the corporation. Is a for-profit company really the appropriate type of
    organization to be
    responsible for ensuring that we are treated fairly?
</div>