<b>Account of Identities</b><br><br>
If there existed a system that contained up-to-date and reliably accurate identification information for every unique individual human person in the world, what could be done with such a system?
<br>
In this system, each person in the world has access to a single user account in this database and can contribute and receive information from it, and have users have a high degree of control over their information<br>
In this system, information is sufficiently secured and anonymized, but query-able through a appropriate channels.<br>
<br>
Imagine you could conduct a poll, vote, survey, referendum, against every user on the planet, and within less than 24 hours you could have potentially billions of responses on a particular question that is relevant to these billions of people.
Imagine you could query the medical data of every person on the planet for particular properties.

Imagine you are a department of a university and you want to conduct some research on a population, and through the appropriate channels, make a query to this system, perhaps open to as many as billions of people or even the entire population, but you only really need a few thousand responses.
Within 24 hours, you could put out your research form to these participants and receive thousands of responses, each associated with accurate but anonymous demographic data.

With such a system, the world could very quickly learn valuable insights on our population that are beneficial to us.  But also, insights will be learned that can be used for harm.
<br>
<b>Academic Research</b><br>

<b>Emergency Alert System</b><br>

<b>Epidemiological Data</b><br>
If there were simply a kind of a symptom reporting system that could be attached to ODIN, it could be used to feed epidemiological databases.
Such data can be used to track diseases worldwide and help health agencies conduct research and keep account of ongoing diseases.



<br>
<b>Human Trafficking</b><br>
If we had an accounting system that was openly available for everyone to use, we could use it to undermine and eventually root out human trafficking.  How?
Accounts will have various statuses that can be associated with them.
One such status could be: human being held captive against their will by an unauthorized person or group, related to human trafficking.
(other statuses could be:  Normal, active account.  Deceased person.  Mentally handicapped person in the custody of somebody else.   Otherwise impaired (coma) and cannot reach their ODIN account.  Child under a certain age under the guardianship of parents (for example a newborn, who couldn't possibly use ODIN themselves))
Eventually, if the system accounted for essentially every person on the planet, it would be easy to identify (and therefore liberate) a person who is being trafficked.

<br>

<br><br><br>
<b>Intent to harm</b><br>
The intent to harm will always be present.  Where harm means:  in some way shape or form, attempt to cause pain, attempt to cause frustration, attempt to cause chaos and disorder, attempt to otherwise be disruptive to one or more other people, by one or more people.
Imagine such a system existed.
How could such a system be used for harm?

Imagine if you were a government or dictator or other powerful entity that wanted to harm or kill all people of a certain identifiable type.  <br>
Some examples in history might include:
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Xinjiang_re-education_camps" target="_blank">Uyghur people</a></li>
  <li><a href="https://en.wikipedia.org/wiki/The_Holocaust" target="_blank">Jewish people</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Slavery_in_the_United_States" target="_blank">African people</a></li>
</ul>

What if those who conducted such harm had access and authority over this system of identities, containing the information on every person in the world.
Using such a system, they could systematically support certain groups of people and systematically hurt other groups of people, based on their agenda of persecution.
<br><br>
And so, in designing such a system for the purpose of societal utility, we must ensure that such a system be prevented from falling into the hands of those who wish to cause harm.
For this reason, we rely on the properties of decentralized authority, distributed processing power, and open-source software, and promotion and reinforcement of the positive values of honesty and truthfulness and the active vigilance against dishonesty and fradulence.



