<!-- <div class="index-root"> -->
  <div class="title big-title">ODIN</div>
  <div class="title small-title">Open Decentralized <span>Identity Network</span></div>
  <div class="title smaller-title">A secure, private, and uncensorable social communication service in which the truth is predominant</div>

  <div class="last-update">
    <span style="font-size: 0.8em; color: gray"><i>last updated</i></span>
    <a href="https://github.com/eRw39Xsd83umCk72rWMtXjr/ODIN-explainer" target="_blank" style="font-weight: bold;color: rgb(0, 0, 155);">{{ lastUpdate }}</a>
  </div>
<!-- </div> -->