<!-- <div class="index-root"> -->
  <div class="title big-title">ODIN</div>
  <div class="title small-title">Open Decentralized Identity Network</div>
  <div class="title smaller-title">An uncensorable social communication service</div>

  <div class="last-update">
    <span style="font-size: 0.8em; color: gray"><i>last updated</i></span>
    <a href="https://github.com/eRw39Xsd83umCk72rWMtXjr/ODIN-explainer" target="_blank" style="font-weight: bold;color: rgb(0, 0, 155);">{{ lastUpdate }}</a>
  </div>
<!-- </div> -->