<div class="sidebar-root">
  <div class="link-item" routerLink="/index" routerLinkActive="active-link" (click)="closeSidebar()">Index</div>
  <div class="link-item" style="margin-left:15px;" routerLink="/problem" routerLinkActive="active-link" (click)="closeSidebar()">Problem</div>
  <div class="link-item" style="margin-left:15px;" routerLink="/purpose" routerLinkActive="active-link" (click)="closeSidebar()">Purpose</div>
  <div class="link-item" style="margin-left:15px;" routerLink="/how-it-works" routerLinkActive="active-link" (click)="closeSidebar()">How It Works</div>
  <!-- <div class="link-item" style="margin-left:15px;" routerLink="/design" routerLinkActive="active-link" (click)="closeSidebar()">Design</div>
  <div class="link-item" style="margin-left:30px;" routerLink="/layers" routerLinkActive="active-link" (click)="closeSidebar()">Layers</div>
  <div class="link-item" style="margin-left:30px;" routerLink="/anonymity" routerLinkActive="active-link" (click)="closeSidebar()">Anonymity</div>
  <div class="link-item" style="margin-left:15px;" routerLink="/accounting-of-identities" routerLinkActive="active-link" (click)="closeSidebar()">Accounting of Identities</div>
  <div class="link-item" style="margin-left:15px;" routerLink="/agenda" routerLinkActive="active-link" (click)="closeSidebar()">Agenda</div>

  <div class="link-item" style="margin-left:15px;" routerLink="/subversion" routerLinkActive="active-link" (click)="closeSidebar()">Subversion</div> -->


</div>
