<div style="width:100%;">
    <b>An accounting of relationships</b><br>
    Consider first the fact that there are over 7 billion unique individual human persons in the world.
    Each person has relationships with other individuals in the world who they know to varying degrees.
    For example, the relationship between Person A and Person B can be called Relationship A-B, the relationship between
    Person A and Person C can be called Relationship A-C, etc.
    All of Person A's relationships combined can be called Relationship Set A.
    <br><br>
    For each member of the network, there is a unique set of relationships which accurately represents the network
    identity
    of that
    member. In other words, in the entirety of this global social network, there is only a single individual, Person A,
    who fits
    into the
    nexus of relationships matching Relationship Set A.


    <br><br><br>
    <b>Crowd-sourced identity verification and accumulation of social network relationship data</b><br>
    Each person who enters the network can contribute to ODIN their knowledge of their personal relationship data.
    For example Person A knows 10 people. Person A joins ODIN as an early adopter. Person A teaches ODIN who they are by
    populating the ODIN database with their personal data (name, date of birth, etc.) and the data from each
    relationship in
    their set of 10
    relationships (Relationship Set A).
    Since Person A is an early user, many of the other people who they know are not yet using ODIN, therefore, ODIN is
    learning about them for the first time.
    <br><br>
    Later, Person B joins the network and person B knows many people, including Person A as well as 5 people that Person
    A
    also knows. Person B
    populates ODIN with their relationship data (Relationship Set B), and corroborates the information already provided
    about the 5 other
    people that Person A mutually knows.
    <br><br>
    As more people join the network, the information stored in the network becomes corroborated and verified many
    times over.
    Eventually, it will become virtually impossible to attempt to defraud the identity of somebody else on the
    network. Every unique human person in the world will have exactly one ODIN public identifier.
    <br><br>
    By relying on our biological ability to know the identity of another person, we can confirm with the network that
    the identity of this person that we know in real life matches the identity of this single particular account on
    the network.

    It's a perpetual key-signing party and everyone's invited.


    <br><br><br>
    <b>Nodes</b><br>
    A decentralized network is composed of a collection of nodes. Each node of a decentralized network is
    simultaneously a server and a client.
    The node is also a secure storage vault which stores portions of, but not necessarily the entirety of the full
    collection of social network relationship data.
    <br><br>
    Nodes communicate and share information with each other as needed.
    <br><br>
    Because the software is free and open-source, anyone can run one or more nodes.
    With regards to software and hardware considerations, there is some ratio of nodes to people where the entire population could access the services hosted on ODIN by some lesser number of nodes.  A ratio of 1000:1 users to nodes seems feasible. 


    <br><br><br>
    <b>Credential Management</b><br>
    Among other things, the decentralized network acts as a highly-available, highly-secure authentication and storage
    network.
    Stored across nodes in the network is a copy of the personal data vault associated with an ODIN public identifier.
    In each user's data vault are copies of their private keys, which in essence represent the authorship of their
    identity.
    <br><br>
    Similar to existing open-source decentralized network projects (e.g. bitcoin), there will eventually be an
    assortment of
    software and
    apps available to access ODIN, including native Android and iOS apps, webapps, Windows desktop apps, etc.

    The apps act as authenticators (credential management) and access points to the personal data vaults.
    <br><br>
    When a user wants to sign in to a new ODIN-accessing app for the first time, they must adequately prove their
    identity
    to ODIN through
    a variety of appropriate verification methods.
    For example, Person B is trying to sign in to a new ODIN mobile phone app. Person A, who is already on the network
    and
    is a trusted personal friend of Person B,
    verifies to the network that Person B is the same person as the individual making the request to sign in.
    After doing so, Person B's app receives the data from the network, and now has a local, unlocked copy of all of
    Person
    B's private
    keys and other valuable personal data.
    Person B now bears their ODIN credentials and can use them wherever ODIN credentials are used.


    <br><br><br>
    <b>Open-source native services</b><br>
    In its simplest incarnation, ODIN could be described as simply a decentralized encrypted global address-book with
    some
    form of a
    user-interface that can be used to input data and confirm the identities of others on the network.
    The address book stores for each user a private key, a public identifier, and their personal data and their
    relationship
    data.
    <br><br>
    In the process of creating such a decentralized address-book, there would need to be nodes (computers) running node
    software, and there would need to be adequate means of interface with the network, for example mobile phone apps and
    webapps.
    Given that these components necessarily precede the existence of the ideal ODIN, the infrastructure will already be
    in
    place to add additional decentralized open-source services to ODIN natively by simply updating the software of the
    nodes, perhaps
    by adding these services as
    optional add-ons by the operator of the node.
    <br><br>
    Since we will have
    already successfully produced an automatic human-authentication platform with ODIN's base functions, this naturally
    allows for a multitude of natively integrated communication and messaging services that can simply piggyback onto
    existing ODIN authentication infrastructure.
    <br><br>
    For example, the first and most fundamental service will be uncensorable encrypted private messages.
    <br><br>
    Other kinds of services that could natively be provided by ODIN include: personal data storage, group messaging,
    calendar and schedule sharing, discussion boards (like Reddit, for example), personal profile (for example, such
    as
    one
    might have on Facebook), various blog formats, classifieds, etc. <br>
    The list goes on. In fact, nearly any for-profit service which currently exists today could probably eventually be
    converted into a
    decentralized open-source service that utilizes ODIN instead of a database governed by a central authority.


    <!-- <br><br><br>
    <b>Public authentication service for third-party applications</b><br>
    Once ODIN exists it will act as a highly-reliable global authentication service and identity guard.
    Third-party applications can simply outsource the entire responsibility of authentication to ODIN.
    <br><br>
    Person B wants to sign up for a third-party application that utilizes ODIN authentication services.
    Person B is already bearing their public ODIN credentials on their mobile app, which the third-party application
    confirms by making a call to ODIN.
    <br><br>
    At this point, ODIN keeps track of the relationship between the user and the application with a registration
    identifier.
    The application does not have access to any information inside ODIN, other than the identifier provided by ODIN.
    The user may choose to give the application specific pieces of information.
    <br><br>
    There will also be cases where registration of the user is unnecessary. Imagine, if you will, a scenario where a
    university wants to
    conduct some research among a population of ODIN users.
    Using the appropriate tools on the ODIN platform, the university could conduct an open poll or survey or
    questionnaire
    with ODIN users who choose to participate. ODIN would be able to facilitate the anonymization of the identity data
    of
    the users while providing reliable demographic data to accompany the university's survey. -->
</div>