<b>Anonymity</b><br>
Anonymity is a form of privacy.

We need a system that can allow a person to anonymously participate in a conversation without exposing their identity.
Similar to how in elections, we do not attach the identity of the person with the vote that they cast. There is a
somewhat strict process for identity verification and once the identity is verified and implicitly understood to
represent a singular unique person that by design could not also be a different person.

ODIN can confirm that a person participating in a conversation or other registration or request of some type, that their
identity remains concealed, but the app or registration can receive the input from the user knowing it is a real
verified unique human person.


<b>Anonymous content creation versus original content</b><br>
A problem that exists, with respect to propaganda, is the production of propaganda content, delivered by vehicle of meme images among other ways.
A meme image is an easily-digestible piece of content.  It is like the sugar of content on the internet.  It's a short, quick hit of something funny or otherwise interesting.  For many people, we don't even realize how we've become seduced by this sugar-like information.
It is therefore effective to use memes as a vehicle to inject propaganda.  Information that is politically charged, or otherwise tribalistic in nature, for the purpose of dividing and conquering.
This is part of the larger part of propaganda, which is:  the art of fabricating false realities with propaganda.

With respect to the meme portion of things, one way to thwart the spreading of memes would be to identify the source.  Kind of like the episode of The Office where Michael is spreading lies about everyone around the office.
Then at the end of the episode they do a trace of the lies and it leads back to Michael.  The OC came from Michael.

It would be useful therefore, if we could trace the origins of memes.  You see a meme of some kind.  You open it up and the full history of the meme, as it exists.
The original copy has an author associated with it.
Then the author shares it to some messageboard.  Then 100 people see it, and a handful of them Save the meme for later sharing purposes.
of these handful, they go on to share it on new forum threads on another date, and share the meme.  This act of sharing now has a history of the original share plus this secondary share.

and so on and so forth.

And each time something gets shared, the share history follows that thing, with a record of the identifier of the persons that shared is before.

what would be the point of this?  So that we could trace the author of the OC, where it came from, but without revealing the personal identity of the person.




How do we reconcile:  the need for anonymity with the need to know the author of malicious content?


Even though the sharing of the file has a history, the history need not be viewable publicly.  In stead, the sharing of the meme is simply recorded and attached to this person's conversation history in the conversation public space, 
and if other people see content that they don't like, they can flag it / report it.  If enough flags or reports happen on a persons content then it can hurt their reputation.

This is all for the conversation app