<b>Layers</b><br>

The fundamental layer of odin is the decentralized identity provider service.
That is, the service which holds the key address book.

This service all by itself doesn't do anything. It is like a spine or an empty foundation. By itself it is just a
structural kind of a thing, but combined with the system that requires such a structure, then it is that system that is
ultimately useful to everyone.



Immediately on top of the identity provider service sits the native applications.


Like other kinds of design patterns found throughout the Internet, ODIN is layerful.
The fundamental layer is the network's ability to manage and authenticate identities, to be an identity provider.


On top of this kind of reliable foundation, a whole new assortment of applications will be made feasible that previously
were not. (See: Accounting of Identities)


The fundamental foundation is software that accompanies a measure of cooperation without the need for trust. Every
participant benefits from being represented in a system where their identity cannot be hijacked or defrauded.

Fundamentally then, the basic version of ODIN software creates a network of communication where users can send and
receive messages to each other, and perform basic data input and administrative tasks on their own accounts as well as
for other accounts on the network.


On top of this ultimately will exist platforms for discussion. Public forums. What format do these forums have?
How does this integrate into governance and democracy?

I suppose ultimately I am trying to think of a way to design a democractic system where the people would not ever vote
on an action to essentially self-destruct the system, for example POTUS45 and Brexit.
These votes happened in the realm of democracy but certainly not in the service of democracy.


Say you put the governance of the system into the hands of the people. How do you prevent these people from voting on a
decision to self-destruct?