<div style="width:100%;">
  <b>Necessity is the mother of invention</b><br>
  The purpose of ODIN is to offer a freely-available alternative method of social communication on the Internet
  that is superior to the current arrangement of
  predominantly for-profit communication and social networking services.
  <br><br>
  ODIN is a free and open-source software project for the creation and upkeep of a decentralized computer network
  which will ultimately serve as a globally available human identity authentication
  service, among other things.
  <br><br>
  By virtue of the existence of this highly-available utilitarian network, every person in the world is offered
  the opportunity to participate in an uncensorable
  global community in which each person possesses full ownership and privacy of their digital identity.
  <br><br>
</div>