<b>Agenda</b><br><br>
What's the agenda?  What's the intention of ODIN?  What interest does ODIN serve?


Ultimately, if ODIN is an autonomously-operating decentralized entity providing communication services to millions if not billions of people, then ODIN fundamentally is something that is powerful.
It is something that could be used by the people to unify and direct our efforts towards problems.

What kind of problems?



Rhetorical question:  What entities in the world have the most power, and what kind of structure does the power have?


